/* Header Formatting */
#page-header {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-color: #f0f0f0;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");
}
#page-header img {
  height: 90%;
  width: auto;
}
#page-header h2 {
  font-size: 1.8rem;
}